<div class="my-3">
  <h1 class="text-center">Todo App</h1>

  <button type="submit" class="btn btn-warning" (click)="showDiv()" *ngIf="currDiv === 'D'">Add Task</button>

  <form (ngSubmit)="onSubmit()" *ngIf="currDiv === 'A'">
    <div class="mb-3">
      <label for="title" class="form-label">Todo Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        autocomplete="off"
        [(ngModel)]="title"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        type="textarea"
        class="form-control"
        id="description"
        [(ngModel)]="description"
        autocomplete="off"
        name="description"
      ></textarea>
    </div>
    
    <div class="mb-3">
      <label for="description" class="form-label">Due Date</label>
      <input
      type="text"
      [(ngModel)]="date"
      name="date"
        
        #datepickerYMD="bsDatepicker"
        placeholder="Set Date"
        class="form-control"
        id="date"
        autocomplete="off"
        bsDatepicker
        [minDate]="minDate"
        [bsConfig]="{
          dateInputFormat: 'DD-MMMM-YYYY',
          containerClass: 'theme-dark-blue'
        }"
        readonly=true
        

      />
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-success" [disabled]="!title">Add Todo</button>
      <button type="Cancel" class="btn btn-light mx-1" (click)="onCancel()">Cancel</button>

    </div>
  </form>
</div>
