<div class="mt-3">
  <div class="card mb-3 shadow rounded">
    <div [className]="' card-header bg-' + todo.color">
      <div
        [ngClass]="{
          'text-decoration': todo.active,
          'text-decoration-line-through': !todo.active
        }"
        class="float-start fw-bold"
      >
        {{ todo.title }}
        <span
          [hidden]="!todo.active"
          class="badge rounded-pill mx-2"
          [ngClass]="{
            'bg-danger': difference <= 1,
            'bg-primary': difference > 1
          }"
          id="sett{{ i }}"
          *ngIf="difference > 1; else elseBlock"
          >Due in {{ difference }} days</span
        >
        <span
          [hidden]="todo.active"
          class="badge rounded-pill mx-2 bg-success"
          id="sett{{ i }}"
          >Completed</span
        >
        <ng-template #elseBlock>
          <span
            [hidden]="!todo.active"
            class="badge rounded-pill mx-2"
            [ngClass]="{
              'bg-danger': difference <= 1,
              'bg-primary': difference > 1
            }"
            id="sett{{ i }}"
            *ngIf="difference < 1 && difference >= 0; else second"
            >Due Today</span
          >
        </ng-template>
        <ng-template #second>
          <span
            [hidden]="!todo.active"
            class="badge rounded-pill mx-2"
            [ngClass]="{
              'bg-danger': difference <= 1,
              'bg-primary': difference > 1
            }"
            id="sett{{ i }}"
            *ngIf="difference === 1; else third"
            >Due in {{ difference }} day</span
          >
        </ng-template>
        <ng-template #third>
          <span
            [hidden]="!todo.active"
            class="badge rounded-pill mx-2"
            id="sett{{ i }}"
          ></span>
        </ng-template>
      </div>

      <div class="float-end">
        <a
          type="button"
          (click)="onClick(todo)"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Delete todo"
          ><i class="fa fa-trash fa-lg text-danger"></i
        ></a>
      </div>
    </div>
    <a (click)="showModalDetails(todo)">
      <div class="card-body">
        <p
          [ngClass]="{
            'text-decoration': todo.active,
            'text-decoration-line-through': !todo.active
          }"
          class="card-text"
        >
          {{ todo.description }}
        </p>
        <p [ngClass]="{
          'text-decoration': todo.active,
          'text-decoration-line-through': !todo.active
        }">{{ cardDate }}</p>
      </div>
    </a>
    <div class="card-footer text-muted">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xl-6 col-sm-12">
          <mat-checkbox
            class="example-margin"
            id="activeq{{ i }}"
            (click)="onCheckboxClick(todo)"
            value="!this.todo.active"
            color="primary"
            >Mark as done</mat-checkbox
          >
        </div>

        <div class="col-lg-6 col-md-6 col-xl-6 col-sm-12">
          <button
            type="button"
            class="btn btn-primary btn-sm rounded float-end"
            (click)="showModalDetails(todo)"
            [hidden]="!this.todo.active"
          >
            <i class="fa fa-edit"></i>
            Edit
          </button>

          <button
            type="button"
            class="btn btn-primary btn-sm rounded float-end"
            (click)="showModalDetails(todo)"
            [hidden]="this.todo.active"
          >
            <i class="fa fa-eye"></i>
            View
          </button>
          <button
            class="fa fa-circle btn rounded float-end"
            id="success{{ i }}"
            style="color: green"
            (click)="changeColor(todo, 'success')"
          ></button>
          <button
            class="fa fa-circle btn rounded float-end"
            id="primary{{ i }}"
            style="color: blue"
            (click)="changeColor(todo, 'primary')"
          ></button>
          <button
            class="fa fa-circle btn rounded float-end"
            id="warning{{ i }}"
            style="color: yellow"
            (click)="changeColor(todo, 'warning')"
          ></button>
          <button
            class="fa fa-circle btn rounded float-end"
            id="info{{ i }}"
            style="color: turquoise"
            (click)="changeColor(todo, 'info')"
          ></button>
          <button
            class="fa fa-circle btn rounded float-end"
            id="light{{ i }}"
            style="color: gainsboro"
            (click)="changeColor(todo, 'light')"
          ></button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal{{ i }}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div [className]="'modal-header bg-' + todo.color">
          <h3>
            <strong>{{ todo.title }}</strong>
          </h3>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <mat-form-field appearance="outline" [color]="'warn'">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              id="todoDescription"
              [(ngModel)]="todo.description"
              name="description"
              placeholder="Enter todo description"
              autocomplete="off"
              [disabled]="!this.todo.active"
              maxlength="150"
            ></textarea>
            <mat-hint align="end"
              >{{ todo.description?.length || 0 }}/150</mat-hint
            >
          </mat-form-field>
          <br />

          <div class="row">
            <div class="col-12">
              <div class="">
                <mat-form-field appearance="fill" [color]="'warn'">
                  <mat-label>Choose a date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    [min]="minDate"
                    [(ngModel)]="todo.date"
                    id="date{{ i }}"
                    autocomplete="off"
                    [disabled]="!this.todo.active"
                    readonly
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="mx-1"
            data-bs-dismiss="modal"
            mat-raised-button
            color="light"
          >
            Close
          </button>
          <button
            type="button"
            class="mx-1"
            (click)="saveDate(todo)"
            [hidden]="!this.todo.active"
            mat-raised-button
            color="warn"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
