<div class="mt-3">
  <div class="card mb-3">
    <div [ngClass]="{'bg-primary': todo.active, 'bg-success': !todo.active}" class="card-header text-white" >
      <div [ngClass]="{'text-decoration': todo.active, 'text-decoration-line-through': !todo.active}" class="float-start fw-bold">
        {{ todo.title }}
      </div>
      <div class="float-end">
        <button
          type="button"
          class="btn-close"
          (click)="onClick(todo)"
          data-bs-toggle="tooltip" data-bs-placement="top" title="Delete todo"
        ></button>
      </div>
    </div>
    <div class="card-body">
      <p [ngClass]="{'text-decoration': todo.active, 'text-decoration-line-through': !todo.active}" class="card-text">{{ todo.description }}</p>
    </div>
    <div class="card-footer text-muted">
      <input type="checkbox" class="form-check-input" id="activeq{{i}}" (click)="onCheckboxClick(todo)" [checked]=!this.todo.active />
      <label class="form-check-label mx-1" for="activeq{{i}}">Mark as done</label>
    </div>
  </div>
</div>
